<div class="todo-list-action-center todo-list-align-items__center">
  <button onclick={{action addNewRow}} class="todo-list-btn todo-list-btn--add" type="button">
    Add item
  </button>
  {{!-- <button class="todo-list-btn todo-list-btn--delete">
    Delete item
  </button> --}}
  <div class="account-details">
      {{#link-to 'account'}}
        <img class="todo-list-icon__lg todo-list-cursor-pointer" src="/images/user.png"/>
      {{/link-to}}
    </div>
</div>
<div class="todo-list-main-body todo-list-border">
  {{#if mainData}}
    {{#each mainData as |row index|}}
      {{todo-list-item data=row index=index isOpen=(util-equal index openedItemIndex)}}
    {{/each}}
  {{else}}
    {{todo-list-loader count=10}}
  {{/if}}
    
</div>