<div class="signin-form-bg"></div>

<div class="sign-in-main">
  <div class="sign-in-form">
       <div class="sign-in-form-submit-section">
           {{#unless isVerifyEmailLinkSent}}
                <h2 class="sign-in-form-header">Verify your email address</h2>
                <input onclick={{action sendVerifyEmailLink}} type="button" value="Send verification link" class="sign-in-btn" />
            {{else}}
                <p>Please check your inbox at {{userEmail}}</p>
            {{/unless}}
          </div>
  </div>
</div>