
:root{
    --base: #fff;
    --base-clr-contrast:#fff;
    --bg:#162577;
    --head-bg: #c69963;
    --head-bg__hover: #006400;
    --checkbox-active: #3399ff;
    --border: #ababab;
    --border-focus: #3399ff;
}