@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body{
    font-size: var(--base-font);
    font-family: Roboto;
    background-color: var(--bg);
}

*, *::after, *::before{
    box-sizing: border-box;
}