@import url('https://fonts.googleapis.com/css?family=Montserrat|Josefin+Sans');

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: var(--base-font);
  min-height: 100vh;
  overflow: hidden;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
