.#{$prefix} {
  $action-center-height: 70px;

  &addon-main-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
    @include target-desktop {
      padding: 0 50px;
    }
  }

  &main-body {
    display: grid;
    grid-gap: 10px 0;
    max-height: calc(100vh - (#{$action-center-height} + 25px));
    overflow: auto;
    overflow: overlay;
    padding: 10px;
    background-color: #fff;
  }

  &action-center {
    height: $action-center-height;
    position: sticky;
    top: 5px;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
  }

  &loader-wrapper {

    svg {
      height: 45px;
      width: 100%;
    }

    clipPath {
      rect {
        height: 100%;
        width: 100%;
      }
    }
  }
}
