///////////////////////////////////////////////////////////////
///Flexbox classes

.#{$prefix}{
    &flex{
        display:flex;
    }
    
    &align-items__center{
        align-items: center;
    }
    
    &justify-content__center{
        justify-content: center;
    }
    
    &text-align__center{
        text-align: center;
    }
    &w-100{
        width: 100%;
    }
    &p-10{
        padding: 10px;
    }

    &border{
        border: 1px solid #ababab;
        border-radius: 10px;
    }

    &cursor-pointer {
        cursor: pointer;
    }

    &icon__lg{
        width: 50px;
    }
}

