<div class='table-loader-wrapper'>
  <table>
    <tbody>
      <tr>
        <td class='td-1'><span></span></td>
        <td class='td-2'><span></span></td>
        <td class='td-3'><span></span></td>
      </tr>
      <tr>
        <td class='td-1'><span></span></td>
        <td class='td-2'><span></span></td>
        <td class='td-3'><span></span></td>
      </tr>
      <tr>
        <td class='td-1'><span></span></td>
        <td class='td-2'><span></span></td>
        <td class='td-3'><span></span></td>
      </tr>
      <tr>
        <td class='td-1'><span></span></td>
        <td class='td-2'><span></span></td>
        <td class='td-3'><span></span></td>
      </tr>
      <tr>
        <td class='td-1'><span></span></td>
        <td class='td-2'><span></span></td>
        <td class='td-3'><span></span></td>
      </tr>
      <tr>
        <td class='td-1'><span></span></td>
        <td class='td-2'><span></span></td>
        <td class='td-3'><span></span></td>
      </tr>
      <tr>
        <td class='td-1'><span></span></td>
        <td class='td-2'><span></span></td>
        <td class='td-3'><span></span></td>
      </tr>
    </tbody>
  </table>
</div>