<h1 class='display-6'>Send reset password link</h1>
{{!-- <form id='ResetPwdForm' {{action sendResetEmail on='submit'}}> --}}
<form id='ResetPwdForm'>
  <fieldset>
    <input
      class='sign-in-input sign-in-mail'
      name='email'
      type='email'
      placeholder='Email'
      required
    />
  </fieldset>
  <div class='sign-in-form-submit-section'>
    <p class='sign-in-success-msg'>
      {{successMsgOnResetEmailLink}}
    </p>
    <input type='submit' value='Send reset password link' class='sign-in-btn' />
    <div class='sign-in-other-options'>
      <button
        type='button'
        class='todo-list-btn--link sign-in-btn-link'
        onclick={{action
          (mut @showForgotPwd)
          (if @showForgotPwd false true)
        }}
      >
        <img
          class='sign-in-btn-arrow'
          src='/images/left-arrow.png'
          alt='left-arrow'
        />
        Back
      </button>
    </div>
  </div>
</form>