<div class='todo-list-p-5 todo-list-m-t-10'>Or</div>

<button type="button" class="btn btn-outline-primary rounded-pill" {{on 'click' this.firebaseAuth.setUpGoogleAuth}}>  {{@btnText}}
  <img src='/images/google.png' class='todo-list-icon__sm todo-list-m-l-5' /></button>