<div class='py-3'>Or</div>

<button
  type='button'
  class='btn btn-outline-primary rounded-pill'
  {{on 'click' this.firebaseAuth.setUpGoogleAuth}}
>
  {{@btnText}}
  {{! template-lint-disable no-curly-component-invocation }}
  {{icon-loader icon='google' class='text-primary'}}
</button>