<div class='d-flex justify-content-between align-items-center p-2'>
  <h1>Your todos list are coming here soon</h1>

  <button
    {{on 'click' this.firebaseAuth.signOut}}
    type='button'
    class='btn btn-danger'
  >Sign out</button>
</div>